{% comment %}

  File uploading

  Arguments:
    - id                    (string) unique id for the upload module
    - name                  (string, required) name for the <input> with the URLs of uploaded images
    - presigned_upload      (object, required) presigned upload data (upload url and payload) returned from a `property_upload_presigned_url` query
    - files                 (array of objects) files that were uploaded before for this upload module and you want them to be shown as already uploaded, should be a result of querying property_upload

    - image_editor_enabled  (boolean) whether to enable image editor for uploaded images
    - allowed_file_types    (array of strings) allowed file types, e.g. ['image/*', '.jpg', '.jpeg', '.png', '.gif']
    - aspect_ratio          (float) aspect ratio for the image editor cropping tool, e.g. 1 for square, 1.78 for widescreen

{% endcomment %}


{% liquid

  assign image_editor_enabled = image_editor_enabled | default: false
  assign allowed_file_types = allowed_file_types | default: null
  assign max_number_of_files = max_number_of_files | default: null
  assign aspect_ratio = aspect_ratio | default: null

%}


<div
  class="pos-upload"
  id="{{ id }}"
  
  {% if image_editor_enabled %} data-image-editor-enabled="{{ image_editor_enabled }}" {% endif %}
  {% if allowed_file_types %} data-allowed-file-types="{{ allowed_file_types }}" {% endif %}
  {% if max_number_of_files %} data-max-number-of-files="{{ max_number_of_files }}" {% endif %}
  {% if aspect_ratio %} data-aspect-ratio="{{ aspect_ratio }}" {% endif %}

  data-upload-url="{{ presigned_upload.upload_url }}"
  {% for field in presigned_upload.upload_url_payload %}
      data-request-{{ field[0] }}="{{ field[1] }}"
  {% endfor %}
>

  <div class="pos-upload-dashboard"></div>

  <template class="pos-upload-added-file-input">
    <input type="hidden" name="{{ name }}[added][]" data-id="">
  </template>

  <template class="pos-upload-removed-file-input">
    <input type="hidden" name="{{ name }}[removed][]" data-id="">
  </template>

  {% for file in files %}
    {% if file.file.url %}
      <input type="hidden" name="{{ name }}[current][]" value="{{ file.file.url }}" data-database-id="{{ file.id }}">
    {% endif %}
  {% endfor %}
  
</div>